*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;

}

/*estilos para o corpo da página*/
body{
    font-family: 'Calibri', sans-serif;
    background-color: rgb(158, 83, 228);
}